.listElement {
  display: block;
  width: 100%;
  padding: 10px 25px;
  border: none;
  background: #fff;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.listElement:hover {
  background: #e5e5e5;
}
