.addNewCard {
  cursor: pointer;
}

.addNewCard:hover {
  background: #0f6ecd;
}

.card {
  cursor: pointer;
}

.imageContainer {
  height: 220px;
  border-bottom: 1px solid #e5e5e5;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.1s;
}

.button {
  display: none;
  color: #bfbfbf;
  outline: none;
  text-decoration: none;
  user-select: none;
}

.button:focus {
  color: #bfbfbf;
  text-decoration: none;
}

.button:not(:disabled):hover {
  color: #fff;
  text-decoration: none;
}

.dropdown {
  cursor: default;
}

.listElement {
  display: block;
  width: 100%;
  padding: 10px 25px;
  border: none;
  background: #fff;
  cursor: pointer;
  outline: none;
}

.listElement:hover {
  background: #e5e5e5;
}
