.mapContainer {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #e5e5e5;
}

.dot {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.dot .circle {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #1e87f0;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.dot .title {
  color: #fff;
  font-size: 16px;
  line-height: 1;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
