.mapContainer {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #e5e5e5;
}

.dot {
  width: 10px;
  height: 18px;
  cursor: pointer;
  transform: translateX(-50%) translateY(-18px);
  padding-bottom: 8px;
}
.dot .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1e87f0;
  position: absolute;
  top: 0;
  left: 0;
}
.dot .title {
  color: #fff;
  font-size: 6px;
  line-height: 1;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.dot .dash {
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 1px;
  height: 9px;
  background: #1e87f0;
}

.button {
  display: block;
  color: #000;
  text-decoration: none;
  user-select: none;
}
.button:focus {
  color: #000;
  text-decoration: none;
}
.button:not(:disabled):hover {
  color: #1e87f0;
  text-decoration: none;
}
