.selected {
  background-color: rgba(30, 135, 240, 0.3);
}

@media (max-width: 640px) {
  .listContainer {
    padding: 0;
  }

  .notFoundText {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .list {
    padding: 10px;
  }
}
