.label {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}

.label:hover {
  background-color: #f8f8f8;
}

.label:active {
  background-color: #e5e5e5;
}

.checkbox {
  margin-top: 8px;
  margin-right: 10px;
}

.listItem.listItem.listItem.listItem {
  padding: 0;
  margin: 0;
}

.textarea {
  overflow: auto;
  resize: vertical;
  word-wrap: break-word;
}

.text {
  padding: 5px 11px;
}
