.label {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.label:hover {
  background-color: #f8f8f8;
}

.label:active {
  background-color: #e5e5e5;
}

@media (max-width: 640px) {
  .label {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.checkboxWrap {
  overflow: hidden;
  width: 20px;
  padding-right: 4px;
  transition-duration: 0.5s;
  transition-property: width, padding-right;
}

.checkboxWrapHidden {
  width: 0;
  padding-right: 0;
}

.checkbox {
  margin-top: 8px;
}

.listItem.listItem.listItem.listItem {
  padding: 0;
  margin: 0;
}

.textarea {
  overflow: auto;
  resize: vertical;
  word-wrap: break-word;
}

.text {
  padding: 5px 11px;
}

.saveButton {
  width: 0;
  padding-right: 0;
  padding-left: 0;
  border-width: 0;
  margin-left: 0;
  transition-duration: 0.3s;
  transition-property: width, padding-right, padding-left, border-width, margin-left;
}

.saveButtonExpanded {
  width: 62px;
  padding-right: 10px;
  padding-left: 10px;
  border-width: 1px;
  margin-left: 15px;
}
